.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-element {
    display: flex;
    flex-direction: column;
}

.label {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.input {
    border: 1px solid rgb(99, 81, 81);
    border-radius: 20px;
    width: 300px;
    height: 30px;
}