.containerForm {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 360px;
  justify-content: center;
  margin-bottom: 40px;
  gap: 30px;
  border-radius: 8px;
}

.inputCont {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.labelForm {
  font-size: 24px;
  color: white;
}
.inputForm {
  font-size: 20px;
  color: white;
  height: 40px;
  width: 320px;
  border-radius: 8px;
  border: 1px solid blue;
}
.buttonForm {
  display: flex;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: blue;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonForm:hover {
  background-color: blue;
  color: white;
}
.errorMessage {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
}
